.cabecalho{
    background-color: rgb(11, 16, 110);
    
}
.h1{
    text-align: center;
}
.corpo{
    background-color: rgb(11, 16, 140);
    color: whitesmoke;
   height: 100vh;
   
}
.meu{
    color: whitesmoke;
    font-size: 28px;
}
.img{
    text-align: center;
    
} 
.col1{
    font-size: 28px;
    padding: 14px 24px; /* TOPO -> Direita -> Baixo -> Esquerda*/
    background-color: rgb(11, 16, 80);
    border-radius:20px;
    margin-left: 30px;
    color: whitesmoke;
    align-content: center;
    
}
.row{
    
}